.homeslider-container {
  position: relative;
  --inner-padding: 40px;
  --header-height-compensate : 180px;

  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .homeslider li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

  .homeslider  {
    img {
      object-fit: cover;
      display: block;
      z-index: 1;
      border: 0;
      width: 100%;
      height: 100%;
    }

    video {
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover
    }
  }



  .homeslider .caption {

    display: block;
    position: absolute;
    text-align: left;
    z-index: 2;
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.32);
    width: calc(100% - var(--inner-padding) * 4);

    /* top-left */
    &.caption-position-0 {
      inset: calc(0px + var(--header-height-compensate, 0px) + var(--inner-padding)) auto auto calc(var(--inner-padding) * 2);
    }

    /* top-center */
    &.caption-position-1 {
      inset: calc(0px + var(--header-height-compensate, 0px) + var(--inner-padding)) auto auto 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    /* top-right */
    &.caption-position-2 {
      inset: calc(0px + var(--header-height-compensate, 0px) + var(--inner-padding)) calc(var(--inner-padding) * 2) auto auto;
      text-align: right;
    }

    /* middle-left */
    &.caption-position-3 {
      inset: 50% auto auto calc(var(--inner-padding) * 2);
      transform: translateY(-50%);
    }

    /* middle-center */
    &.caption-position-4 {
      inset: 50% auto auto 50%;
      transform: translate(-50%);
      text-align: center;
    }

    /* middle-right */
    &.caption-position-5 {
      inset: 50% calc(var(--inner-padding) * 2) auto auto;
      transform: translateY(-50%);
      text-align: right;
    }

    /* bottom-left */
    &.caption-position-6 {
      inset: auto auto var(--inner-padding) calc(var(--inner-padding) * 2);
    }

    /* bottom-center */
    &.caption-position-7 {
      inset: auto auto var(--inner-padding) 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    /* bottom-right */
    &.caption-position-8 {
      inset: auto calc(var(--inner-padding) * 2) var(--inner-padding) auto;
      text-align: right;
    }

    .caption-title {
      font-size: 2rem;
      line-height: 1;
      font-weight: bold;

      & + .caption-legend {
        margin-top: 0.75rem;
      }
    }

    .caption-legend {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .homeslider_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: var(--inner-padding);
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 45px;
    width: 45px;
    transform: translateY(50%);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='34' viewBox='0 0 18 34' fill='none'><path d='M1 1L17 17L1 33' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
  }

  .homeslider_nav:active,
  .homeslider_nav:hover {
    opacity: 1.0;
  }

  .homeslider_nav.prev {
    transform: rotate(180deg);
  }

  .homeslider_nav.next {
    left: auto;
    right: var(--inner-padding);
  }
}